body {
	font-family: 'Lato', sans-serif;
}
.navbar-custom {
	font-family: 'Lato', sans-serif;
	background: #152d48 !important;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.navbar-brand img {
	max-height: 30px;
	padding-right: 15px;
}

@media only screen and (max-width: 371px) {
    #navimg {
        display: none;
    }
}

@media only screen and (max-width: 449px) {
    #navbrand {
        font-size: .9rem;
    }
}