body {
    font-family: 'Raleway', sans-serif;
}

.navbar-custom {
	font-family: 'Raleway', sans-serif;
	background: #152d48 !important;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.navbar-brand img {
	max-height: 30px;
	padding-right: 15px;
}

.background-code {
    background-image: url(codewall.jpg);
}

.home-imgs {
    height: auto;
    width: 750px;
}

@media only screen and (max-width: 469px) {
    #navimg {
        display: none;
    }
}

@media only screen and (max-width: 402px) {
    #navbrand {
        font-size: .9rem;
    }
}

@media only screen and (max-width: 319px) {
    #navbrand {
        font-size: .7rem;
    }
}
.card-text-custom {
    font-family: 'Raleway', sans-serif;
}

.carousel-caption-custom {
    position: absolute;
    right: 15%;
    left: 15%;
    z-index: 10;
    padding-bottom: 20px;
    color: #fff;
    text-align: center; 
    bottom: -35px !important;
}

.footer {
    font-size: .8rem;
}